.game-page-wrapper{
    display: grid;
    justify-content: center;
    background-color: rgb(51, 56, 61);
    height: 200%;
}

.escape-button-wrapper{
    display: flex;
    justify-content: center;
}

.escape-button{
    width: 200px;
    justify-items: center;
    text-align: center;
}